{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room</title>
</head>
<body>
    <a href="{% url 'index' %}">ROOM</a>
    <ul class="sidebar-nav">
        {% if user.is_authenticated %}
            <li>Usuario: {{ user.get_username }}</li>
            <li><a href="{% url 'logout'%}?next={{request.path}}">Cerrar Sesión</a></li>
        {% else %}
            <li><a href="{% url 'login'%}?next={{request.path}}">Iniciar Sesión<a></li>
        {% endif %} 
    </ul>
    {% block body %}
    {% endblock %}
</body>
</html>