{% extends "subastas/layout.html"%}

{% block body %}

<h1>SUBASTA</h1>
    {{sala.id}} - {{sala.articulo.nombre}} - Empieza en ${{sala.costo_inicial}}.00 mxn
<h1>Pujas</h1>
<ul>
    {% for puja in pujas %}
        <li>${{puja.monto}}.00 mxn - {{puja.cliente.usuario_comprador.first_name}}</li>
    {% empty %}
        <li>No se han realziado pujas</li>
    {% endfor %} 
</ul>

<h2>Añadir puja</h2>
{% if mensaje %}
    <p>{{mensaje}}</p>
{% endif %}
<form method="post" action="{% url 'bid' sala.id %}">
    {% csrf_token %}
    <input name="monto" type="number">
    <input type="submit" value="Pujar">
</form>

{% endblock %}